/* 로그인 화면 전체 */

.login {
    max-width: 25%;
    margin: 0 auto;
    padding-top: 40px;
}

.logo {
    max-width: 100%;
    img {
        width: 40%;
        display: block;
        margin: 0px auto;
    }
}


/* 아이디 저장, 계정 찾기 */

.option {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    div {
        padding: 0;
    }
    a {
        color: black;
        font-size: 12px;
        text-decoration: none;
    }
}


/* 로그인 버튼 */

#btnLogin {
    width: 100%;
}


/* input label 글자 크기 */

.v-input {
    .v-label {
        font-size: 12px;
    }
}


/* 회원가입 버튼 그룹 */

#signUp {
    margin-top: 20px;
    width: 100%;
}

.SNSLogin {
    list-style: none;
    padding-left: 0px;
    margin-top: 35px;
    img {
        width: 70%;
        height: 45px;
        margin: 5px 0px;
    }
}